* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

.navigate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  padding-left: 120px;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 10px;
}
.navigate_create {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 130px;
  border-radius: 30px;
  border: none;
  outline: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  background-color: white;
  margin-right: 50px;
  font-size: 18px;
}
.navigate_create:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22);
  transition: 1s;
}
.navigate_today {
  border: 1px solid grey;
  border-radius: 3px;
  height: 40px;
  width: 90px;
  background-color: transparent;
  outline: none;
  margin-right: 50px;
  font-weight: 700;
}
.navigate_today:hover {
  background-color: #d5d5d5;
  transition: 1s;
}

.navigate__arows {
  display: flex;
  margin-right: 50px;
}
.navigate__arows_right {
  background-image: url("https://img.icons8.com/material-sharp/24/000000/forward.png");
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-position: center;
  background-size: auto;
}
.navigate__arows_right:hover {
  background-color: #D3D3D3;
  transition: 1s;
}
.navigate__arows_left {
  background-image: url("https://img.icons8.com/material-sharp/24/000000/forward.png");
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform: rotate(180deg);
  background-position: center;
  background-size: auto;
}
.navigate__arows_left:hover {
  background-color: #D3D3D3;
  transition: 1s;
}

.navigate__MonthAndYear {
  font-size: 24px;
  font-weight: 500;
}

.plus {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.week {
  display: flex;
  padding: 0 15px 0 60px;
  border-bottom: 1px solid #d5d5d5;
}

.day {
  position: relative;
  flex-grow: 1;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.day_nameDay {
  font-size: 18px;
  opacity: 0.5;
}
.day_numberDay {
  width: 40px;
  height: 40px;
  align-self: center;
  margin-top: 5px;
  font-size: 22px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.LittleBorder {
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
  border-left: 1px solid #d5d5d5;
}

.today {
  background-color: royalblue;
  color: white;
}

.main {
  height: calc(100vh - 171px);
  overflow: auto;
}

.schedule {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  color: #70757a;
}
.sidebar :first-child .hour__text {
  display: none;
}

.hour {
  height: 42px;
  width: 55px;
}
.hour__text {
  display: block;
  margin: -9px 0 0 10px;
}

.days {
  display: flex;
  width: 100%;
  padding-left: 5px;
  background: repeating-linear-gradient(180deg, #dadce0, #dadce0 1px, #fff 1px, #fff 42px);
}

.column-day {
  position: relative;
  width: 100%;
  border-left: 1px solid #dadce0;
}

.display-none {
  display: none;
}

.popup-alert {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #89898961;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px 16px 8px;
  border-radius: 8px;
  text-align: right;
  background-color: #fff;
}
.popup__picker {
  display: flex;
  margin: 45px 0;
  align-items: center;
  position: relative;
}
.popup__color-picker {
  margin: 45px 0 0 45px;
  text-align: left;
}
.popup__color-picker_label-text {
  margin-right: 15px;
}
.popup__btn-close {
  position: absolute;
  right: 10px;
  top: -3px;
}

.event__name {
  border: none;
  border-bottom: 2px solid #d5d5d5;
  width: 90%;
  font-size: 20px;
  letter-spacing: 2px;
  font-style: italic;
  outline: none;
  margin-top: 30px;
}
.event__date-start, .event__date-end {
  padding: 2px;
  margin-left: 18px;
  border: none;
  background-size: contain;
  outline: none;
  width: 150px;
}
.event__time-start, .event__time-end {
  border: none;
  background-size: contain;
  outline: none;
  padding: 2px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.event__description {
  border: none;
  width: 90%;
  outline: none;
  resize: none;
}
.event__btn-save {
  position: absolute;
  right: 5px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background: royalblue;
  color: white;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-popup {
  position: relative;
  height: 40px;
  display: flex;
}

.clock {
  width: 25px;
  height: 25px;
}

.line {
  left: 237px;
  width: 8px;
  margin: 0 5px;
  border-top: 2px solid black;
}

.multilineText {
  position: absolute;
  left: 20px;
  width: 30px;
  height: 30px;
}

.close {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.bascket {
  cursor: pointer;
}

.invalid {
  border: 1px solid red;
}

.day-event {
  position: absolute;
  min-height: content;
  width: 100%;
  padding: 4px;
  border-radius: 3px;
  background-color: #4183f1;
  font-size: 14px;
  color: white;
}
.day-event__title {
  height: 16px;
  overflow: hidden;
}

/*# sourceMappingURL=styles.css.map */
