.day-event {
    position: absolute;
    width: 100%;
    padding: 4px;
    border-radius: 3px;
    background-color: #4183f1;
    font-size: 14px;
    color: white;
    overflow: hidden;
    z-index: 1;
}