.day-event {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    margin-left: 61px;
    padding: 4px;
    border-radius: 3px;
    background-color: #4183f1;
    font-size: 14px;
    color: white;
    overflow: hidden;
    z-index: 1;
}