.main {
    height: calc(100vh - 171px);
    overflow: auto;
}

.schedule {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    color: #70757a;

    :first-child .hour__text {
        display: none;
    }
}
.hour {
    height: 42px;
    width: 55px;
    
    &__text {
        display: block;
        margin: -9px 0 0 10px;
    }
}

.days {
    display: flex;
    width: 100%;
    padding-left: 5px;
    background: repeating-linear-gradient(180deg,
            #dadce0,
            #dadce0 1px,
            #fff 1px,
            #fff 42px);
}

.column-day {
    position: relative;
    width: 100%;
    border-left: 1px solid #dadce0;
}